sphinx>=7.1.2
myst-parser>=2.0.0
sphinx-copybutton>=0.5.2
sphinx-design>=0.5.0
sphinx-autodoc-typehints>=1.25.2
sphinx-autoapi>=3.0.0
requests>=2.31.0
pytest>=8.0.0
pytest-mock>=3.14.0
pytest-asyncio>=0.25.0
pytest-sugar>=1.0.0
pytest-cov>=4.1.0
pylint>=3.2.5
poethepoet>=0.32.0
black>=24.2.0
ruff>=0.2.0
isort>=5.13.2
pre-commit>=3.6.0
mypy>=1.8.0
types-setuptools>=75.1.0
